*{
    margin: 0;
    padding: 0;
    font-family: 'Vazirmatn-Regular';
    text-align: right;
}

body.modal-open {
    overflow: hidden;
}

@font-face{
    font-family: 'Vazirmatn-thin';
    src: url(font/vazirmatn/Vazirmatn-Thin.ttf);
}

@font-face{
    font-family: 'Vazirmatn-Regular';
    src: url(font/vazirmatn/Vazirmatn-Regular.ttf);
}

@font-face{
    font-family: 'Vazirmatn-Bold';
    src: url(font/vazirmatn/Vazirmatn-Bold.ttf);
}

@font-face{
    font-family: 'Vazirmatn-ExtraBold';
    src: url(font/vazirmatn/Vazirmatn-ExtraBold.ttf);
}

@font-face{
    font-family: 'Vazirmatn-SemiBold';
    src: url(font/vazirmatn/Vazirmatn-SemiBold.ttf);
}

:root{
    --primary-color: #452810;
    --secondary-color: #f4f5f7;
    --tertiary-color: #cf9e76;
    --quaternary-color: #846f5d;
    --text-color: #161318;
    --search-text-color: #685b4f;
    --volume-color: #d2b39a;
    --second-text-color: #ffffff;
}

.first-theme{
    --primary-color: #452810;
    --secondary-color: #f4f5f7;
    --tertiary-color: #cf9e76;
    --quaternary-color: #846f5d;
    --text-color: #161318;
    --search-text-color: #685b4f;
    --volume-color: #d2b39a;
    --second-text-color: #ffffff;
}

.second-theme{
    --primary-color: #952400;
    --secondary-color: #f5f1e6;
    --tertiary-color: #e39a3a;
    --quaternary-color: #c5283d;
    --text-color: #2d2d2a;
    --search-text-color: #685b4f;
    --volume-color: #d2b39a;
    --second-text-color: #ffffff;
}
.third-theme{
    --primary-color: #006D77;
    --secondary-color: #EDF6F9;
    --tertiary-color: #83C5BE;
    --quaternary-color: #C4D8D7;
    --text-color: #1D3557;
    --search-text-color: #457B9D;
    --volume-color: #A8DADC;
    --second-text-color: #FFFFFF;
}
.fourth-theme{
    --primary-color: #FF9AA2;
    --secondary-color: #FFF5F3;
    --tertiary-color: #FFB7B2;
    --quaternary-color: #FFDAC1;
    --text-color: #5E3023;
    --search-text-color: #B5EAD7;
    --volume-color: #E2F0CB;
    --second-text-color: #FFFFFF;
}
.fifth-theme{
    --primary-color: #D4A76A;
    --secondary-color: #FFF8E8;
    --tertiary-color: #FFD700;
    --quaternary-color: #E5C8A7;
    --text-color: #5C3A21;
    --search-text-color: #A78A7F;
    --volume-color: #F0E0C8;
    --second-text-color: #FFFFFF;
}
.sixth-theme{
    --primary-color: #A0522D;
    --secondary-color: #F5F5DC;
    --tertiary-color: #CD5C5C;
    --quaternary-color: #8B4513;
    --text-color: #3E2723;
    --search-text-color: #A1887F;
    --volume-color: #D2B48C;
    --second-text-color: #FFFFFF;
}
.seventh-theme{
    --primary-color: #6F4E37;
    --secondary-color: #F3E5D8;
    --tertiary-color: #C4A484;
    --quaternary-color: #8B5A2B;
    --text-color: #3E2723;
    --search-text-color: #A78A7F;
    --volume-color: #D2B48C;
    --second-text-color: #FFFFFF;
}
.eighth-theme{
    --primary-color: #E74C3C;
    --secondary-color: #F9E79F;
    --tertiary-color: #F39C12;
    --quaternary-color: #6E2C00;
    --text-color: #1A120B;
    --search-text-color: #E67E22;
    --volume-color: #F5B7B1;
    --second-text-color: #FFFFFF;
}

.ninth-theme {
    --primary-color: #1E88E5;
    --secondary-color: #E3F2FD;
    --tertiary-color: #64B5F6;
    --quaternary-color: #0D47A1;
    --text-color: #0D1B2A;
    --search-text-color: #415A77;
    --volume-color: #90CAF9;
    --second-text-color: #FFFFFF;
}

nav{
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), 
    url("images/nav-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

}

.nav-topsec{
    padding: 20px 20px 0 20px ;
}

.nav-topsec-ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-topsec-li{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 45px;
}

.location p{
    color: var(--text-color);
    font-size: 16px;
    margin-right: 3px;
}


.nav-searchsec{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.nav-search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 7px 15px 7px 5px;
    border-radius: 50px;
    width: 80%;
}

.search-icon-div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiary-color);
    border-radius: 50px;
    padding: 8px 8px;
    cursor: pointer;
}

.search-icon{
    width: 20px;
    height: 20px;
    color: var(--secondary-color);
}

.search{
    width: 100%;
    height: 30px;
    margin-left: 5px;
    background-color: var(--secondary-color);
    color: var(--search-text-color);
    border: none;
    font-size: 14px;
}

.search:focus{
    outline: none;
}

.shopping-icon{
    width: 25px;
    height: 25px;
    color: var(--text-color);
    margin-bottom: 5px;
}

.location-icon{
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    color: var(--tertiary-color);
}

.categories-container{
    margin: 15px 0 0 30px;
}

.categories-container-title{
    margin-right: 30px;
    font-size: 22px;
    font-weight: 600;
}

.categories-ul{
    display: flex;
    align-items: center;
    margin-top: 10px;
    overflow-x: auto;
    list-style: none;
    white-space: nowrap;
}

.category-item-inner{
    display: block;
    padding: 10px 15px;
    border: none;
    border-radius: 25px;
}
.category-item-inner.active {
    background-color: var(--tertiary-color);
    color: var(--second-text-color);
}
.category-item{
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-radius: 25px;
    margin-right: 10px; 
}

.categories-ul::-webkit-scrollbar {
    width: 0;
    height: 0;
}


.category-item :hover{
    background-color: var(--tertiary-color);
    color: var(--second-text-color);
}

.category-name{
    font-size: 14px;
    display: block;
    font-family: 'Vazirmatn-Bold';
}

@media (max-width: 300px){
    .logo img{
        width: 34px;
    }

    .location p{
        font-size: 14px;
    }

    .shopping-icon{
        width: 20px;
        height: 20px;
    }

    .categories-container-title{
        margin-right: 25px;
        font-size: 18px;
        font-weight: 600;
    }

    .category-item-inner{
        padding: 5px 15px;
    }

    .category-name{
        font-size: 14px;
        display: block;
    }

    .categories-container{
        margin-top: 12px;
    }
}
@media (max-width: 376px){
    .logo img{
        width: 37px;
    }

    .location p{
        font-size: 14px;
    }

    .shopping-icon{
        width: 20px;
        height: 20px;
    }

    .categories-container-title{
        margin-right: 25px;
        font-size: 18px;
        font-weight: 600;
    }

    .category-item-inner{
        padding: 7px 15px;
    }

    .category-name{
        font-size: 13px;
        display: block;
    }

    .categories-container{
        margin-top: 5px;
    }
}

/* slider section start */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-bottom: 30px;
}

.swiper-slide{
    width: 70%;
}

.product-container{
    width: 310px;
    background-color: var(--primary-color);
    margin-top: 100px;
    border-radius: 25px;
    height: 330px;
    position: relative; /* اضافه شده */
    filter: drop-shadow(0px 10px 10px 
    color-mix(in srgb, var(--primary-color) 70%, transparent 30%)
)
}

.product-card{
    padding: 20px;
    position: absolute;
    bottom: 80;
    width: 100%;
    box-sizing: border-box;
}

.pr-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -60px;
    left: 0;

}

.pr-img img{
    width: 165px;
    height: auto;
    max-height: 170px;
    object-fit: contain;
    filter: drop-shadow(2px 9px 6px rgba(0, 0, 0, 0.686));
}

.pr-info{
    color: var(--secondary-color);
    margin-top: 100px;
}

.pr-info h3{
    margin-top: 12px;
    font-family: 'Vazirmatn-ExtraBold';
}

.pr-heart-num{
    display: flex;
    justify-content: right;
}

.pr-heart-icon{
    width: 17px;
    height: 17px;
    margin-bottom: 1px;
    margin-right: 3px;
}

.pr-heart-num-inner{
    display: flex;
    align-items: center;
    padding: 7px 10px 7px 10px;
    border-radius: 25px;
    background-color: var(--quaternary-color);
    font-size: 13px;
    margin-top: 10px;
}

.pr-volume{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 15px;
    font-size: 14px;
}

.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pr-volume span{
    margin: 2px 5px 0 0;
}

.pr-volume p{
    margin-right: 5px;
    font-size: 18px;
    color: var(--volume-color);
}

.price-add{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pr-price{
    display: flex;
    align-items: center;
}

.pr-price p{
    color: var(--volume-color);
    font-size: 14px;
}

.pr-price span{
    color: var(--second-text-color);
    font-size: 15px;
}

.pr-add{
    color: var(--tertiary-color);
    background-color: var(--second-text-color);
    padding: 19px 19px;
    border-radius: 50px;
    display: flex;
    border: none;

}

@media (max-width: 426px){
    .swiper-slide{
        width: 65%;
    }
    
    .product-container{
        width: 250px;
    }
    
    .category-name{
        font-size: 14px;    
    }

    .categories-container{
        margin: 10px 0 0 30px;
    }
    .nav-searchsec{
        display: flex;
        justify-content: center;
        margin-top: 16px;
    }
    
    .nav-search-container{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--secondary-color);
        padding: 7px 15px 7px 5px;
        border-radius: 50px;
        width: 80%;
    }
    
    .search-icon-div{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--tertiary-color);
        border-radius: 50px;
        padding: 8px 8px;
        cursor: pointer;
    }
    
    .search-icon{
        width: 20px;
        height: 20px;
        color: var(--secondary-color);
    }
    
    .search{
        width: 100%;
        height: 30px;
        margin-left: 5px;
        background-color: var(--secondary-color);
        color: var(--search-text-color);
        border: none;
        font-size: 14px;
    }

}

@media (max-width: 375px){
    .swiper-slide{
        width: 70%;
    }
    .category-name{
        font-size: 13px;    
    }

}


/* slider section end */

/* product modal style start */
.product-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1000;
    overflow-y: auto;
    display: none;
}

.back-and-favourite-btns-inner{
    display: flex;
    align-items: center;
    margin: 0 13px;
}

.back-button-modal{
    background-color: var(--primary-color);
    border: none;
    height: 45px;
    position: absolute;
    top: 30px;
}

.modal-back-btn{
    color: var(--second-text-color);
}

.favourite-button-modal{
    background-color: var(--primary-color);
    border: none;
    position: absolute;
    top: 35px;
    right: 19.5px;
}

.modal-favourite-btn{
    color: var(--second-text-color);
}

.favorite-button-inner{
    border: 2.5px solid var(--second-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50px;
}

.product-modal-img-bg{
    width: 100%;
    height: 250px;
    background-color: var(--primary-color);
    border-radius: 0 0 47px 47px;
    margin-bottom: 52px;
}

.product-modal-img-container{
    display: flex;
    justify-content: center;

}

.product-modal-img{
    width: auto;
    max-width: 233px;
    height: auto;
    max-height: 235px;
    object-fit: contain;
    filter: drop-shadow(2px 9px 6px rgba(0, 0, 0, 0.686));
    position: absolute;
    top: 60px;
}

.product-modal-info-sec{
    margin: 0 20px 0 20px;
}

.pr-heart-modal-num{
    display: flex;
    justify-content: right;

}

.pr-heart-num-box{
    display: flex;
    align-items: center;
    padding: 6px 10px 6px 10px;
    border-radius: 25px;
    background-color: var(--quaternary-color);
    font-size: 13px;
    margin-bottom: 3px;
    color: var(--second-text-color);
}

.product-name-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-price{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.product-price p{
    margin-right: 3px;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 600;
}

.product-size-sec{
    margin-top: 10px;
}

.product-size-sec-title{
    font-size: 16px;
    font-weight: bold;
}

.product-size-group{
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
}

.product-size-btn{
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-radius: 25px;
    padding: 6px 22px;
    font-size: 13px;
    font-weight: bold;
}

.product-size-btn:hover{
    background-color: var(--tertiary-color);
    color: var(--second-text-color);
}

.product-about-sec{
    margin-top: 15px;
}

.product-about-sec-title{
    font-weight: bold;
}

.product-about p{
    font-size: 12px;
    line-height: 16px;
}

.product-size-add-num{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.product-size-title{
    display: flex;
}

.product-size-text{
    color: var(--volume-color);
    margin-left: 5px;
}

.product-size-num{
    font-size: 13px;
    margin-top: 3px;
}

.number-of-product-box{
    display: flex;
    border: 1px solid var(--tertiary-color);
    border-radius: 50px;
    position: relative;
    bottom: 5px;
    padding: 2px 0;
}

.reduce-product{
    margin: 0 20px 0 15px;
    font-size: 18px;
    font-weight: bold;
}

.increase-product{
    margin: 0 15px 0 20px;
    font-size: 18px;
    font-weight: bold;
}

.number-of-product{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
}

.add-list-buy-btn{
    margin: 10px 0 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buy-product-btm-modal button{
    color: var(--second-text-color);
    background-color: var(--tertiary-color);
    border: none;
    padding: 16.5px 80px;
    border-radius: 50px;
}

.add-list-product-modal-btn button{
    border: 0.5px solid rgba(128, 128, 128, 0.419);
    padding: 16px;
    border-radius: 50px;
    background-color: var(--second-text-color);
    display: flex;
    justify-content: center;
    align-items: center;

}

.add-list-btn-m{
    color: rgba(0, 0, 0, 0.627);
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
}

@media (max-width: 425px){
    .product-size-sec{
    margin-top: 15px;
    }
    .product-size-group{
        margin-top: 8px;
    }
    .product-size-btn{
    padding: 10px 35px;
    font-size: 14px;
    }
    .product-about-sec-title{
        margin-bottom: 5px;
    }
    .product-size-add-num{
        margin-top: 15px
    }
    .buy-product-btm-modal button{
        padding: 18px 100px;
        font-size: 16px;
    }
    .add-list-product-modal-btn button{
    padding: 20px;
    }
}

@media (max-width: 363px){
    .product-size-sec{
    margin-top: 10px;
    }
    .product-size-group{
        margin-top: 13px;
    }
    .product-size-btn{
    padding: 6px 22px;
    font-size: 13px;
    }
    .product-about-sec-title{
        margin-bottom: 0;
    }
    .product-size-add-num{
        margin-top: 10px
    }
    .buy-product-btm-modal button{
        padding: 16.5px 80px;
    }
    .add-list-product-modal-btn button{
    padding: 16px;
    }
}
/* product modal style end */

/* shopping cart style start */

.shopping-cart{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #080909;
    color: white;
    z-index: 1000;
    overflow-y: auto;
    display: block;
}

.shopping-cart-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    list-style: none;
}

.sh-c-svg-btn{
    background-color: #101211;
    border: none;
    padding: 3px;
    border-radius: 8px;
}

.sh-c-svg-btn svg{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fb9c45;
}

.chosen-products-group{
    display: flex;
    flex-direction: column;
    padding: 30px 30px 20px 30px;
    list-style: none;
    height: 420px;
    overflow-x: auto;
    white-space: nowrap;
}

.chosen-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.chosen-product-pic-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chosen-product-line{
    width: 80%;
    height: 1px;
    background-color: #fb9c45;
    margin: auto;
}

.chosen-product-pic-box{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #101211;
    border-radius: 10px;
}

.chosen-product-pic{
    max-width: 50px;
    max-height: 70px;
}

.chosen-product-info{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    padding-right: 10px;
}
.chosen-product-name{
    font-weight: 500;
    margin-bottom: 2px;
}
.chosen-product-size{
    font-size: 12px;
    color: #a2a2a2;
    margin-bottom: 3px;
}

.chosen-product-price{
    font-size: 15px;
    font-weight: bold;
}

.chosen-product-quantity{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chosen-product-btn{
    background-color: #0f1111;
    color: #fb9c45;
    padding: 0 4px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

.total-price-checkout-sec{
    margin: 20px 30px;
}

.total-price-title{
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 5px;
}

.total-price-value{
    font-size: 16px;
    font-weight: bold;
}

.checkout-sec{
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 7px 0;
    font-size: 19px;
    font-weight: bold;
    color: white;
    background-color: #e0661d;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}
/* shopping cart style end */